/* Estilos gerais */
body {
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #18131c;
  color: whitesmoke;
}

/* Cabeçalho */
header {
  background-color: #333;
  background-image: url(bolsaS.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
  height: 500px;
  text-align: center;
  font-size: 30px;
}

header h1 {
  margin-top: 150px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  padding: 10px;
}

nav ul li a:hover {
  transition: 0.5s;
  font-size: 40px;
  color: #fff;
}

/* Conteúdo principal */
main {
  padding: 0;
  margin: 0;
}

/* Seções ocupando a tela inteira */
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}

/* Seção sobre */
.sobre {
  display: flex;
  flex-direction: row;
  background-color: #eee7f4;
  color: black;
  
}

/* Lado da imagem com background */
.imagem-sobre {
  flex: 1;
  background-image: url('bolsaV.jpg');
  background-size: cover;
  background-position: center;
}

/* Lado do texto */
.texto-sobre {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  box-sizing: border-box;
  text-align: left;
  
}

/* Estilo dos títulos e botões */
h2 {
  margin-top: 0;
  font-size: 50px;
}

p {
  font-size: 25px;
  line-height: 1.8;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}

/* Produtos */
#produtos {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.produtos {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.bolsa {
  background-color: #000000;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  color: rgb(241, 240, 255);
}

#bolsa {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Contato */
#contato {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 40px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Rodapé */
footer {
  background-color: #201e22;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h3{
  font-size: 25px;
}
